* {
  box-sizing: border-box;
}

header {
  background-color: darkgray;
  
  
}
header img {
  margin-bottom: 0cm;
}

nav {
  margin: 1px auto;
  width: 960px;
  display: flex;
  align-items: center;
  
}
nav li {
  display: inline-block;
  padding: 2rem;
  
}
ul li a{
  text-decoration: none;
}
main {
  margin: 30px auto 0;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-start; 
}

img {
  margin-bottom: 30px;
}

footer {
  background-color: gray;
  height: 50px;
  text-align: center
}

article {
  width: 450px;
}

article section {
  height: 320px;
  overflow: auto;
}

